html,body {
  margin: 0;
  padding: 0;
  background: #F7FBFC;
}

.container {
  padding: 0 40px;
  font-family: 'Segoe UI';
}

// $a: #009BFF;
$a: #57CBFF;
$b: #4C555C;
$c: #32383D;
$d: #202529;
$e: #D3D5D8;

header {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px $d;
  border-right: solid 1px $d;
  border-left: solid 1px $d;
  a.site-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    background: $d;
    padding: 10px 10px;
    text-decoration: none; 
  }
  nav {
    display: block;
    float: right;
    a {
      font-weight: 300;
      font-size: 20px;
      line-height: 60px;
      color: $d;
      padding: 0 20px;
      text-decoration: none;
    }
  }
}

content {
  display: block;
  padding: 0 20px;
  blockquote {
    font-style: italic;
    // font-family: 'Cambria';
    color: $b;
    border-left: solid 1px $a;
    padding: 10px 20px;
    margin: 0;
    margin-left: 40px;
  }
  h1,h2,h3,h4,h5,h6 {
    padding: 2px 10px;
  }
  h2,h3,h4,h5,h6 {
    color: $c;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 100%;
      background: $c;
      left: 0;
      top: 0;
    }
  }
  h1 {
    color: $a;
    font-weight: 100;
    padding: 10px 0;
    border-bottom: solid 1px $a;
  }
  h2 {
    font-weight: 300;
    &::before {
      width: 4px;
    }
  }
  h3 {
    font-weight: 400;
    &::before {
      width: 4px;
    }
  }
  h4 {
    font-weight: 300;
    &::before {
      width: 3px;
    }
  }
  h5 {
    font-weight: 600;
    &::before {
      width: 3px;
    }
  }
  h6 {
    font-weight: 600;
    &::before {
      width: 2px;
    }
  }
  table {
    border: solid 1px $e;
    border-collapse: collapse;
    font-size: 20px;
    tr {
      td,th {
        padding: 10px;
        border-left: solid 1px $e;
        border-right: solid 1px $e;
      }
      th {
        border-top: solid 1px $e;
        border-bottom: solid 1px $e;
        font-weight: 400;
        text-align: center;
      }
      td {
        font-weight: 300;
        border-left: solid 1px $e;
        border-right: solid 1px $e;
      }
    }
  }
  p {
    text-indent: 20px;
  }
}

// @media screen and (max-width: 500px) {
//   nav {
//     width: 100px;
//     float: right;
//     a {
//       display: table-row;
//     }
//   }    
//   .nav-trigger {
//     font-size: 40px;
//     font-weight: 400;
//     color: $a;
//     float: right;
//     width: 80px;
//     height: 80px;
//   }
// }
